/*重置样式*/
*{
	margin: 0;
	padding: 0;
	font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}
ul,ol,li{
	list-style: none;
}
a{
	text-decoration: none;
	display: block;
}
img{
	border:none;
	display: block;
}
.clearfloat{
	zoom:1;
}
.clearfloat:after{
	display: block;
	clear: both;
	content:" ";
	height: 0;
	visibility: hidden;
}

/*布局样式 */
body{
	width: 1500px;
}
/*头部*/
.public_header{
	height: 110px;
}
.public_header .header_logo{
	float: left;
	margin-top: 28px;
}
.public_header .header_logo a{
	height: 54px;
	width: 182px;
	background: url(../images/header_logo.png) no-repeat;
}
.public_header .header_nav{
	float: right;
	font-size: 14px;
}
.public_header .header_nav .item{
	float: left;
	margin-top: 46px;
	margin-left: 50px;
}
.public_header .header_nav a{
	color: #3b3b3b;
}
.public_header .header_nav a:hover{
	text-decoration: underline;
	color: #3b3b3b;
}

.container{
	position: relative;
	margin: 0 auto;
	width: 1100px;

}

/*尾部*/
.public_footer{
	height: 318px;
	background-color: #3b3b3b;
}
.public_footer .footer_col{
	width: 230px;
	float: left;
	margin-right: 60px;
	margin-top: 100px;
	font-size: 16px;
	line-height: 1.8;
	color: #fff;
}
.public_footer .footer_col:last-child{
	margin-right: 0;
}
.public_footer .footer_col .footer_logo{
	margin-top: -16px;
	margin-bottom: 14px;
	height: 55px;
	width: 182px;
	background: url(../images/footer_logo.png);
}

/*banner部分*/
.index_banner{
	position: relative;
	background-color: #b3b3b3;
}
.index_banner .banner_bg{
	height: 568px;
	overflow: hidden;
}
.index_banner .banner_bg{
	margin:0 auto;
}
.index_banner .banner_text{
	position: absolute;
	top: 210px;
	left: 50%;
	margin-left: -388px;
}
.index_banner .banner_text .banner_logo{
	width: 776px;
	height: 117px;
	background: url(../images/banner_logo.png);
	margin-bottom: 18px;
}
.index_banner .banner_text .banner_info{
	color: #fff;
	text-align: center;
}
.index_banner .banner_text .line{
	display: inline-block;
	width: 40px;
	border-top:1px solid #fff;
	vertical-align: middle;
}
.index_banner .banner_text .text{
	margin:0 30px;
}
/*菜单栏*/
.index_menu {
	position: relative;
	border-top: 4px solid #f34949;
}
.index_menu .menu_tips{
	position: absolute;
	width: 156px;
	height: 70px;
	background-color: #f34949;
	text-align: center;
	line-height: 60px;
	font-size: 20px;
	color: #fff;
	left: 50%;
	top: 0;
	margin-left: -78px;
}
.index_menu .menu_tips:after{
	position: absolute;
	left: 0;
	bottom: 0;
	content: "";
	height: 0;
	width: 0;
	border-left: 78px solid transparent;
	border-right: 78px solid transparent;
	border-bottom: 10px solid #fff;
}
.index_menu .menu_list{
	margin-top: 150px;
	color: #555;
	overflow: hidden;
}
.index_menu .menu_list ul{
	width: 1160px;
}
.index_menu .menu_item{
	float: left;
	width: 520px;
	margin-right: 60px;
	margin-bottom: 56px;
}
.index_menu .menu_item .title,.index_menu .menu_item .line{
	float: left;
}
.index_menu .menu_item .price{
	float: right;
}
.index_menu .menu_item .title{
	width: 230px;
	overflow: hidden;
	font-size:16px;
}
.index_menu .menu_item .comment{
	margin-top: 4px;
	font-size: 12px;
	color: #b7b7b7;
}
.index_menu .menu_item .line{
	margin-top: 10px;
	width: 192px;
	border-top: 1px solid #e3e1e1;
}
.index_menu .menu_more_btn{
	margin:0 auto;
	width: 114px;
	height: 32px;
	font-size: 14px;
	line-height: 32px;
	padding-left: 16px;
	border:1px solid #d7d5d5;
}
.index_menu .menu_more_btn .icon{
	display: inline-block;
	width: 11px;
	height: 7px;
	margin-left: 10px;
	background:url(../images/icon.png);
}

/*panel主体部分*/
.index_panel{
	margin-top: 200px;
}
.panel_header h3{
	font-size: 20px;
	color: #3b3b3b;
	float: left;
	margin-right: 48px;
}
.panel_header .line{
	float: left;
	width: 200px;
	border-top: 1px solid #e5e3e3;
	margin: 7px;
}
.panel_header .btn_group{
	font-size: 0;
	float: right;
}
.panel_header .btn_group .btn{
	display: inline-block;
	margin-left: 11px;
	width: 9px;
	height: 9px;
	background:#dedede;
	border-radius: 50%;
}
.panel_header .btn_group .active{
	background: #9b9b9b;
}
.panel_body{
	margin-top: 75px;
	overflow: hidden;
	position: relative;
}

.panel_body ul{
	width: 1160px;
	height: 271px;
	overflow: hidden;
}
.panel_body .food_item{
	float: left;
	width: 230px;
	margin-right: 60px;
}
.panel_body .food_item .banner{
	margin-bottom: 28px;
	height: 202px;
}
.panel_body .food_item .name{
	color: #555;
	margin-bottom: 10px;
}
.panel_body .food_item .price{
	float: right;
}
.panel_body .food_item .star_group{
	font-size: 0;
}
.panel_body .food_item .star{
	display: inline-block;
	width: 12px;
	height: 13px;
	margin-right: 5px;
	background-image: url(../images/star.png);
}
.panel_body .food_item .nostar{
	display: inline-block;
	width: 12px;
	height: 13px;
	margin-right: 5px;
	background-image: url(../images/star.png);
	background-position: 0 -13px;
}

.index_pic{
	height: 380px;
	margin-bottom: 200px;
	overflow: hidden;
}
.index_pic .pic_l{
	width: 353px;
	float: left;
}
.index_pic .pic_m{
	width: 287px;
	float: left;
}
.index_pic .pic_r{
	width: 460px;
	float: left;
}
